//npm.greensock.com/:_authToken=5f646811-815b-427a-890b-9e24b609e330
@gsap:registry=https://npm.greensock.com

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=185FE4A3-480E-4957-9E39-7535B716EEC8